<h1> Approach </h1>
<p><font size = "4 pts"> We are trying hard to understand Ruby on Rails
	so that it enables us to get some ideas off the ground
	without having to find a technical co-founder. </p>  

	Some of the ideas we have in mind are:
<br> </br> </font> 
<div class = "jumbotron">
	<li> Telecom Fraud Detection System</li>
	<li> Personal finance App</li>
	<li> Trading Marketing Place </li> <br>
	<p>Click here to <%= link_to "learn more", "#", class: "btn btn-primary btn-lg" %></p>
</div>
<h2 style= "text-align: center"> <font color="#9b59b6"> Seem like a tall order? we hope not.... </h2> </font>
	<h1 class="text-center"> <font color= "#2ecc71"> Freedom to Create!  Imagine that! </h1> </font>