<div class="panel panel-default">
  <div class="panel-body">
    Service Footer
  </div>
  <div class="panel-footer">Footnote <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-star"></span> Star
</button></div>
</div>